.main-container {
    min-height: 93.5vh;
    background-color: #212529;
    color: rgb(255, 255, 255);
    font-size: calc(10px + 2vmin);
    padding-bottom: 50px;
}

.inputs {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap:  2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5rem;
    line-height: 3rem;
}

.name {
    display: grid;
}

.name input {
    max-width: 15rem;
} 

.email {
    display: grid;
}

.email input {
    max-width: 15rem;
}

.comment {
    display: grid;
}

.comment textarea {
    min-height: 20rem;
    min-width: 24rem;
    resize: none;
    font-family: inherit;
}