.body {
  min-height: 90vh;
  background-color: #212529;
  color: rgb(255, 255, 255);
  font-size: calc(10px + 2vmin);
  padding-bottom: 50px;
}

.home-header {
  position: absolute;
  text-align: center;
  align-content: center;
}

.feedback-header {
  font-size: calc(5px + 2vmin);
  text-align: center;
  align-content: center;
}

.sub-body {
  background-color: white;
  margin-left: 100px;
  margin: 200px;
  min-height: 55vh;
}

.alert-body {
  position:absolute; 
  bottom: 0; 
  right: 0;
  margin-bottom: 50px;
  margin-right: 100px;
}