.body {
  display: flex; 
  min-height: 100vh;
  background-color: #18191c;
  color: rgb(255, 255, 255);  
  font-size: calc(10px + 2vmin);
}

.mid-body {
  display: flex;
  justify-content: center;
  margin: 50px;
  background-color: white;
}