#profile-header {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem 0rem;
  letter-spacing: 0.3rem;
}
.profile-contents {
  margin: auto 15rem;
  display: block;
  line-height: 4rem;
}
.main-container {
  display: block;
  text-align: center;
}
