#profile-header{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0rem;
    letter-spacing: 0.3rem;
}
.profile-contents {
  margin: auto 15rem;
  display: block;
  line-height: 4rem;
}
.main-container {
  display: block;
  text-align: center;
}
