.body {
    display: flex;
    min-height: 100vh;
    background-color: #18191c;
    color: rgb(255, 255, 255);
    font-size: calc(10px + 2vmin);
    justify-content: center;
}

.mid-body {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.map-container {
    width: 25rem;
    height: 30rem;
}